<a href="https://colab.research.google.com/github/edmanabc/Own_revision_of_slides_and_workshops/blob/main/Copy_of_Own_revision_of_slides_and_workshops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**WEEK 2 GETTING STARTED WITH PYTHON WORKSHOP SLIDES**

**Name          Python Type     Description**
Boolean         bool            A logical value either True or False

Floating Point  float           Fractional numbers such as 11.0, 6.5, -97.10, etc.

Integers        int             Whole numbers such as -6, 251, -32567, etc.

Strings         str             Bunch of characters in an ordered sequence: “Python”, “Hi”, etc.

List            list            Ordered Sequence of Objects in [] parenthesis separated by comma. Can be mixture of different data types. Example, [1,2,3,4] , [‘hello’, 255, 565.3]

Dictionaries    dict            ‘Key : value’ pairs enclosed in {} parenthesis with no order. Example, {“key1” : ”value1”, “key2” : “value2”}, {1: 'apple', 2: 'ball'}

Sets           set              Unordered, unique collection of objects in {} parenthesis. Example {"mango", "banana", "apple"}

Tuples         tup              Ordered unchangeable sequence of objects in () parenthesis. Example ("mango", "banana", "apple")

Use str(), int() and float() functions to convert a number to a string or vice versa.

**In Python, the type of any object can be determined by type(<object>)**

In [ ]:
#converting number to a string
num = 423
str(num)

'423'

In [ ]:
type(4.532)

float

In [ ]:
#converting a float into an integer
num3 = 4.532
int(num3)

4

In [ ]:
#converting a string into an integer
str_num = "345"
int(str_num)

345

In [ ]:
#converting an integer into a string
int_str = 345
str(int_str)

'345'

**Python: Special Characters - Examples**
Code Result
\"   Quote inside string
\\   Backslash
\n   New Line
\r   Carriage Return
\t   Tab
\b   Backspace

In [ ]:
#Adding quote marks inside a string
print("Their apparent \"intention\" was not honest")

Their apparent "intention" was not honest

In [ ]:
#Adding a line break
print("Here is the \n new line")

Here is the
 new line

In [ ]:
#Adding a tab space
print("Here is the \t tab space")

Here is the 	 tab space

In [ ]:
#Adding a back space
print ("Here is the \bback space")

Here is the back space

**Strings index**
Strings are an ordered collection of characters
Every single character has an index assigned to it. Indexes start from 0
character can be accessed using its index

In [ ]:
#Finding index position of a character in a string
mystring = "Hello"
mystring[4]

'o'

In [ ]:
#Finding index position of a character in a string using reverse index - the zero never changes. The second character is -4, then the third is -3 etc.

mystring = "Hello"
mystring[-4]

'e'

**Strings Slicing**
Using slicing, you can return a range of characters by leveraging indexing
The simplest syntax is <Variable_Name>.[start_index:stop_index]
The end index is not the part of the sliced output - always misses the end!
Skipping the start index in slicing, the range will begin from the first character
Skipping the last index, the range will go till the end including the last character
In previous examples, slicing was having a "step" of 1 (Default). The step is the number of characters you jump between two indices.
If leveraging from "step" is desired, the syntax is [start : stop : step]

In [ ]:
#Slicing/removing the first character and the last so must +1 to get the last value I want, as below
mystring = "Hello"
mystring[1:4]

'ell'

In [ ]:
#Skipping the start index in slicing, the range will begin from the first character
mystring[:4]

'Hell'

In [ ]:
#Skipping the last index, the range will go till the end including the last character
mystring[2:]

'llo'

In [ ]:
#The step is the number of characters you jump between two indices.
#Below I am stepping/jumping between two indices by 2 characters
mystring = "Hello"
mystring[0:5:2]

'Hlo'

In [ ]:
#An easier way to do the above cell 
mystring = "Hello"
mystring[::2]

'Hlo'

In [ ]:
#The step is the number of characters you jump between two indices.
#Below I am stepping/jumping between two indices by 3 characters
mystring = "Hello"
mystring[0:5:3]

'Hl'

**Strings Properties - Concatenation**
Two or more strings can be concatenated together using the '+' operator
Similarly, a ' * ' operator can be used to multiply a string
Be careful when using these operators with numbers

In [ ]:
#Combining two strings using +
str1 = "Hello today is"
str2 = "the 25th December"
print(str1+str2)

Hello today isthe 25th December

In [ ]:
#Using * to print out a string multiple times with a line break (otherwise it's repeated on the same line)
string = "Write this 5 times\n"
print(string*5)

Write this 5 times
Write this 5 times
Write this 5 times
Write this 5 times
Write this 5 times

In [ ]:
#What happens when you use + for numbers which are strings
"10" + "6"

'106'

**Strings are immutable** (slide 48 in 'Getting started with Python workshop slides')
Remember that strings are immutable so characters within strings cannot be modified. An attempt to modify a string would
return an error.
Instead, use slicing and concatenation or methods for modifying strings

**Commonly used string methods** (slide 49 in 'Getting started with Python workshop slides')
String methods perform a particular function over a string
To access string methods, enter <variable name>. + <Tab key> to select a method

In [ ]:
#Adding a . to the end seems to work for me, without the tab being used
string.

**For a table of the most commonly used string methods**, see slide 50 in 'Getting started with Python workshop slides' and 'What to refresh and learn' document page 12ish.

In [ ]:
#Capitalize - Makes the first character in string upper-case
mystring = "hey this is a string"
mystring.capitalize()

'Hey this is a string'

In [ ]:
#Casefold - Changes the whole string to lower-case
mystring = "THIS WAS UPPERCASE"
mystring.casefold()

'this was uppercase'

In [ ]:
#Count - Returns the frequency of searched value in a string i.e. returns the number of times that value appears
mystring = "how wow well"
mystring.count("w")

4

In [ ]:
#Replace - Replaces a specified value with another value in a string
mystring = "Errpr"
mystring.replace("p", "o")

'Error'

In [ ]:
#Split - Splits the string at the given separator, and returns it as a list
mystring = "how wow well"
mystring.split(" ")

['how', 'wow', 'well']

**Strings Formatting**

The '+' operator can be used to concatenate 2 strings. However '+' cannot be used for combining numbers with strings

Instead we use the format() method to combine strings and numerics

Syntax: Leave empty parenthesis {} within the string where you want the numeric to be. The syntax is <String>.format(<numeric>)

The format method can also be used to combine two or more strings in a similar way

In [ ]:
#Inserting numeric into a string using .format
"My salary will be {} by next April".format(50000)

'My salary will be 50000 by next April'

In [ ]:
#Inserting numeric into a string using .format
mystring = "My salary will be {} by next April"
salary = 50000
print(mystring.format(salary))

My salary will be 50000 by next April

In [ ]:
#Inserting strings and numeric into a string using .format
mystring = "I bought {} kg of {} that cost me {} pounds"
weight = 5
product = "apples"
price = 20
print(mystring.format(weight,product,price)) 

#can also input the 20 directly without making it into a variable with the following code:
#print(mystring.format(weight,product,20))

I bought 5 kg of apples that cost me 20 pounds

In [ ]:
#Another way of inserting strings and numeric into a string using .format
mystring = "I bought {a} kg of {b} that cost me {c} pounds"
print(mystring.format(a = 5, b = "apples",c = 20))

I bought 5 kg of apples that cost me 20 pounds

In [ ]:
#Divide by
10 / 7

1.4285714285714286

In [ ]:
#Combining string with numeric calculation using .format
print("value is {r:1.5f}".format(r=10/7))

value is 1.42857

**String Formatting with placeholders (%)**

A placeholder % can be used to add a numeric or a string within another string

Use placeholder %s for string, %d for digit, and %f for floating point number

In [ ]:
#Using a placeholder % to add a string within another string
print("this string has %s missing" %"something")

this string has something missing

In [ ]:
#Using a placeholder % to add a string within another string
print("I am roaming %s and %s" %("here", "there"))

I am roaming here and there

In [ ]:
#Using a placeholder % to add an integer and float within a string
print("Here is a placeholder for numbers %d and %f" %(798, 1.567))

Here is a placeholder for numbers 798 and 1.567000

**Numeric Operators**

Table with brief descriptions in slide 56 of 'Getting started with Python workshop slides'

In [ ]:
#Addition
1 + 2

3

In [ ]:
#Subtraction
1 - 2

-1

In [ ]:
#Multiplication
2.504 * 8.897

22.278088

In [ ]:
#Division
22000/12

1833.3333333333333

In [ ]:
#Modulus
5%2

1

In [ ]:
#Exponentiation
3**3

27

In [ ]:
#Using multiple numeric operators
(5+3*6.6/12)**2

44.22249999999999

**Boolean**

Booleans have only two possible values: True or False

Note booleans are case sensitive: True, False. 
Typing true gives an error

Comparison Operators [slide 59]

Used to establish comparison between two values

Operator	Name	                      Example
==	      Equal	                      a == b
!=	      Not equal	                  a != b
>	        Greater than	              a > b
<	        Less than	                  a < b
>=	      Greater than or equal to	  a >= b
<=	      Less than or equal to	      a <=b

In [ ]:
#Equal to
5 == 7

False

In [ ]:
#Greater than
6>3

True

In [ ]:
#Equal to test
x = 4
y = 16
x ** 2 == y

True

In [ ]:
#Greater than test
r = 5.3
pi = 3.14
circum = 2*pi*r
print(str(circum))
circum > 15

33.284

True

Logical Operators [slide 60]

Logical operators can be used to combine two or more conditional statements

Operator   Description                                   Example
and        True if all the statements are true           a > b and a > c
or         True if any one of the statements is true     a > b or a > c
not        Negate the result                             not (a > b)

In [ ]:
a = 5
b = 3
c = 7
a > b and a > c

False

In [ ]:
a > b or a > c

True

In [ ]:
not a > b

False

**Numbers with Variable Assignments**

Variables are case sensitive

Variable names must use alphanumeric characters and underscores (i.e. A-z, 0-9, and _)

In [ ]:
velocity = 100 #km/h
time = 5 #hr
#distance
distance = velocity*time
print(distance)

500

In [ ]:
radius = 5
pi = 3.14
circum = 2*pi*radius
area = pi*radius**2
print(circum)
print(area)

31.400000000000002
78.5

**WEEK 3 Fundamentals of Python programming language workshop slides**

**Python if/else statements** (conditional statements) [slides 6 & 7]

➢ If/else statements are used to run a particular code only when a certain condition is met

➢ They make use of logical operators while defining the condition

➢ If/else logic can be extended by using nested if conditions

In [2]:
#simple python if statement
x = 11
if x % 2 == 0: #remember % is modulus or remainder
  print("This is an even number")
else:
  print("This is not an even number")

This is not an even number

In [3]:
#simple python if statement
x = 10
if x % 2 == 10:
  print ("This is an even number")
else:
  print("This is an odd number")

This is an odd number

^ : or colon at the end of a line makes it a statement. one equal = sign means "set the value of a to the same as b"

two equal == signs mean "do a and b have the same value? True/False"

Also remember that in Python, the body of the if statement is indicated by the indentation. The body starts with an indentation and the first unindented line marks the end.

**Python if-elif-else statements** [slide 9]

The elif is short for else if. It allows us to check for multiple expressions.

If the condition for if is False, it checks the condition of the next elif block and so on.

If all the conditions are False, the body of else is executed.

Only one block among the several if...elif...else blocks is executed according to the condition.

The if block can have only one else block. But it can have multiple elif blocks.

[From: https://www.programiz.com/python-programming/if-elif-else]

In [5]:
a=15
b=12
if a==b:
  print("The two numbers are equal")
elif a>b:
  print("The first number is greater than the second")
else:
  print("The first number is smaller than the second")

The first number is greater than the second

In [8]:
a = 0
if a > 0:
  print ("This number is positive")
elif a == 0:
  print ("This number is zero")
else:
  print ("This number is negative")

This number is zero

In [9]:
a = 3.4
if a > 0:
  print("This number is positive")
elif a == 0:
  print("This number is zero")
else:
  print("This number is negative")

This number is positive

In [10]:
a = -4.5
if a > 0:
  print("This number is positive")
elif a == 0:
  print("This number is zero")
else:
  print("This number is negative")

This number is negative

**Python For loops** [slides 11 & 12]

➢ Used for iterating through a sequence (such as a list, tuple, dictionary, set, or string)

➢ Allows for the execution of a set of statements, once for each item in
the list, tuple, dictionary and so on

In [12]:
for i in range (0,6): #remember last number is always ignored. Only the ones before it are.
  print("The iteration number is {}".format(i))
print("The end")

The iteration number is 0
The iteration number is 1
The iteration number is 2
The iteration number is 3
The iteration number is 4
The iteration number is 5
The end

**Python While loops** [slides 11 & 13]

➢ Used to execute a set of statements when the specified condition is true

➢ It repeats until a certain condition is met

In [17]:
target_val = 5 #target value
iter_num = 0 #iteration number
while iter_num < target_val:
  print("This iteration number is {} which is less than the target value {}".format(iter_num, target_val))
  iter_num = iter_num+1 #keeps adding a 1 to the iteration number

This iteration number is 0 which is less than the target value 5
This iteration number is 1 which is less than the target value 5
This iteration number is 2 which is less than the target value 5
This iteration number is 3 which is less than the target value 5
This iteration number is 4 which is less than the target value 5

**Indentation** [slide 14]

In Python, indentation defines a block of code. This also helps to improve readability

Indentation is the spaces left at the beginning of each code line

Indentation is a general practice in all programming languages to improve readability. However, in Python, the code may throw an error or execute improperly without appropriate indentation

In [18]:
#prints error code because the indentation is missing in the second line
if True:
print("This is correct indentation")

IndentationError: ignored

In [19]:
#shows that as long as the indentation is in the right place, the number of spaces does not matter
if False:
  print("This is correct indentation")
else:
              print("The number of spaces does not matter")

The number of spaces does not matter

In [21]:
#shows that blocks of code should have consistent indentations otherwise an error code will be produced
if False:
  print("This is correct indentation")
else: 
      print("The number of spaces does not matter")
    print("But all statements in a block should have the same indentation")

IndentationError: ignored

**Repetition – Nested Loops** [slide 16]

A loop inside the body (indentation) of an outer loop. Both inside and outside loops can be either For or While loops

For each iteration of an outer loop, the inner loop re-starts and completes its execution before the outer loop can continue to its next iteration

Applications: multi-dimensional structures such as two dimensional arrays, image pixel handling, etc

In [24]:
#Example code for tables of 1 to 5
for i in range (1,5): #outer loop
  for j in range (1,11): #inner loop iterates from 1 to 10
    print (i * j, end = " ") #for each value of i, j iterates from 1 to 10
  print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40

**Repetition – Break** [slide 17]

In order to stop the loop prematurely (i.e., even if/while/for loop condition statement is still True, but you want to exit the loop early), use **break** statement.

In [26]:
target_val = 5
iter_num = 0
while iter_num < target_val:
  print("This iteration number is {} which is less than the target value {}".format(iter_num, target_val))
  if iter_num == 2:
    print("Condition met: Breaking out of loop")
    break;
  iter_num=iter_num+1

This iteration number is 0 which is less than the target value 5
This iteration number is 1 which is less than the target value 5
This iteration number is 2 which is less than the target value 5
Condition met: Breaking out of loop

**Repetition – Continue** [slide 18]

Continue statement inside the loop, when executed, skips the rest of the loop statements underneath it, and continues to the next iteration.

In [27]:
target_val = 5
iter_num = 0
while iter_num < target_val:
  iter_num = iter_num+1
  if iter_num == 2: #if this condition is met
    continue        #skip all statements underneath it for this iteration and continue to the next iteration
  print("This iteration number is {} which is less than the target value {}".format(iter_num, target_val))

This iteration number is 1 which is less than the target value 5
This iteration number is 3 which is less than the target value 5
This iteration number is 4 which is less than the target value 5
This iteration number is 5 which is less than the target value 5

**Breakpoints and Debugging**[slide 19]

Using breakpoints, we can stop our code while executing at a specific point and then execute line by line with the intention of debugging. This is very efficient for fault tracing.

Colab notebook cells already use this concept in a way, because cells “break” your code and let you see results immediately.

Extremely useful in IDEs (Integrated Development Environments) where complete
code is written in text editors.

IDEs have built-in UI-based ways of placing breakpoints. Also, Python breakpoint() built-in function can be used to programmatically set points in code at which a debugger is called.

I'M ON SLIDE 22